/**
/**************************
HTML Default settings
**************************
html, body 
{
	padding: 0;
	height: 100%;
}


/**************************
Built in tags settings
<p>,<h1>,<div>, etc.
**************************
h1
{
	font-style:bold;
	font-size: 30px;
	color: red;
	text-align: center;
}

/**************************
Class Settings
**************************


/**************************
Id Settings settings
**************************
/*
# are used for specific objects while . is used for a collection of objects
# are called by ids
. are called by class
*
#header
{
	background-color: red;
	height: 60px;
	text-align: center;
	color: white;
	width: 100%;
	margin: 0;
}
*/

div {
    height:100px;
    width:100px;
    display: inline-block;
}

#red {
    background-color:#FF0000;
}

#blue {
    background-color:#0000FF;
}

#yellow {
    background-color:#E2BE22;
}

#green {
    background-color:#008800;
}


