h1
{
	font-style:bold;
	font-size: 30px;
	color: red;
	text-align: center;
}

.header
{
	background-color: red;
	height: 60px;
	text-align: center;
	color: white;
}

.footer
{

}

html, body 
{
	margin: 0;
	padding: 0;
	background-color: #D3D3D3;
}